@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
  background-color: #242636;
}
#container {
	background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
}
#container2 {
	background-image: url(../images/bg2.jpg);
	background-repeat: repeat-x;
}
#wrapper {
	width: 941px;
	margin: 0 auto;
	position: relative;
}
.leftimage {
	float: left;
	padding-right: 8px;
	display: block;
}
.rightimage {
	float: right;
	padding-left: 10px;
	display: block;
}
/* === Text Styles === */
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #2c3035;
	letter-spacing: -1px;
	margin: 0;
	line-height: 40px;
	font-weight: normal;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	line-height: 40px;
	font-weight: bold;
	color: #2c3035;
	margin: 0;
	letter-spacing: -1px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	color: #174c7d;
	letter-spacing: -1px;
	margin: 0;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: normal;
	color: #174c7d;
	letter-spacing: -1px;
	margin: 0;
}
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	line-height: 35px;
	font-weight: normal;
	color: #e5e5e5;
	letter-spacing: -1px;
	margin: 0;
}
h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: #FFF;
	line-height: 55px;
	letter-spacing: -1px;
	margin: 0;
}
.blacktitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	color: #2c3035;
	margin: 0;
}
.smalltitle {
	font-weight: bold;
	color: #174c7d;
}
/* === Top Bar Section === */
#topbar {
	background-image: url(../images/logobar.gif);
	background-repeat: no-repeat;
	height: 109px;
}

/* === Navigation Section === */
#nav {
	float: right;
	width: 660px;
	padding: 20px 0 0 0;
}


/* === Header Section === */
#header {
	height: 310px;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/headerbg.jpg);
	margin: 0px;
	padding-top: 31px;
	padding-right: 32px;
	padding-bottom: 0;
	padding-left: 32px;
}
#header2 {
	height: 70px;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 30px 30px 0 30px;
	background-image: url(../images/header_inner.jpg);
	margin: 0px;
}

/* Slider Gallery */

#slider ul, #slider li{ 
	margin:0;
	padding:0;
	list-style:none;
}	
#slider, #slider li{ 
	height:269px;
	width:877px;
	overflow:hidden;
}	
#slider{
	margin: 0;
}	
#prevBtn, #nextBtn{ 
	display:block;
	width:30px;
	height:77px;
	position:absolute;
	left:-2px;
	top:240px;
}	
#nextBtn{ 
	left:891px;
}														
#prevBtn a, #nextBtn a{  
	display:block;
	width:50px;
	height:77px;
	background:url(../images/btn_prev.png) no-repeat 0 0;	
}	
#nextBtn a{ 
	background:url(../images/btn_next.png) no-repeat 0 0;	
}	

/* === Icon Bar Section === */
#iconbar {
	background-image: url(../images/iconbar.gif);
	background-repeat: no-repeat;
	background-position: center top;
	height: 187px;
	padding: 10px 30px 0 30px;
}
.iconbox {
	float: left;
	width: 182px;
}
.iconline {
	background-image: url(../images/line.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
	width: 45px;
	height: 155px;
}

/* === Content Section === */
#content {
	margin: 0px;
	padding: 25px 25px 35px 25px;
	overflow: hidden;
}
#welcome {
	float: left;
	width: 575px;
}
#latestnews {
	float: right;
	width: 250px;
}
.arrowbox {
	background-image: url(../images/arrow_big.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 245px;
	padding: 0 0 0 20px;
	float: left;
	clear: left;
	margin-bottom: 30px;
	margin-top: 15px;
}
/* === Contact Section === */
#contact {
	float: left;
	width: 500px;
	padding-bottom: 10px;
	height: 400px;
}
#contact input#name, input#subject{
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	padding: 5px;
	border: 1px solid #666666;
	margin-bottom: 10px;
}
#contact input {

}
#contact textarea {
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	padding: 5px;
	margin-bottom: 8px;
	border: 1px solid #666666;
}
.box {
	padding: 6px;
}
#contact label {
	float: left;
	width: 100px;
	display: block;
	padding: 5px;
}
/* === Footer 1 Section === */
#footer1 {
	background-image: url(../images/footer1.gif);
	background-repeat: repeat-x;
	height: 200px;
}
#footer1content {
	width: 890px;
	margin: 0 auto;
	padding-top: 18px;
	color: #959595;
}
#footer1content a {
	color: #959595;
	text-decoration: none;
}
#footer1content a:hover {
	color: #fff;
	text-decoration: none;
}

#corporateinfo {
	float: left;
	width: 320px;
}
#recentnews {
	float: left;
	width: 310px;
}
#connect {
	float: right;
	width: 230px;
}

/* === Footer 2 Section === */
#footer2 {
	background-image: url(../images/footer2.gif);
	background-repeat: repeat-x;
	height: 59px;
	clear: both;
}
#footer2content {
	width: 890px;
	margin: 0 auto;
	padding-top: 20px;
	color: #959595;
}
#footer2content a {
	color: #959595;
	text-decoration: none;
}
#footer2content a:hover {
	color: #fff;
	text-decoration: none;
}

form input[type='submit'] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
	font-weight: bold;
	color: #924800;
	font-size: 13px;
	text-shadow: 0px 1px #ffc59b;
	padding: 6px 10px 7px;
	line-height: 20px;
	height: 33px;
	margin-right: 5px;
	margin-bottom: 1px;
	-webkit-box-shadow: 0px 1px 0px #ffc59b inset;
	-moz-box-shadow: inset 0px 1px 0px #ffc59b;
	background-color: #ffb063;
	border: 1px solid #ce7219;
	cursor: pointer;
}

form#new_project {
	float: left;
	width: 610px;
}

.form {
	width: 610px;
	float: left;
	-webkit-border-radius: 6px;
}
form fieldset {
	background: #EEE;
	margin-bottom: 10px;
	padding: 5px 0px 5px;
	float: left;
	width: 610px;
}
form fieldset.messages li {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
form fieldset.submit {
	padding: 10px;
	width: 590px;
}
form fieldset.submit input[type='submit'] {
	float: right;
}

form p.hint {
	font-size: 11px;
}

form li div {
	width: 390px;
	float: right;
	min-height: 25px;
	padding-top: 4px;
}

form li label {
	width: 190px;
	margin-right: 10px;
	float: left;
	padding-left: 0px;
	line-height: 17px;
	padding-top: 6px;
	font-weight: bold;
	margin: 0;
	text-align: left;
	font-size: 13px;
}
#content form p, #content form span, #content form li div p, #content form li div span {
	line-height: 18px;
}
form textarea {
	width: 90%;
}

form legend {
	font-weight: bold;
	font-size:12px;
}

form .required {
	color: #aaa;
	font-size: 10px;
	font-weight: normal;
}

form {
	margin-bottom: 1.5em;
}

form.button-to, form.button-to div {
	display: inline;
}
form.button-to div {
	margin: 0 5px 0 5px;
	text-align: right;
}
form.button-to div input[type='submit'] {
	font-weight: bold;
	color: #ba3e3e;
	font-size: 11px;
	text-shadow: 0px 1px #FFF;
	padding: 2px 6px 2px 6px;
	display: block;
	float: right;
	line-height: 22px;
	height: 26px;
	margin-right: 5px;
	margin-bottom: 1px;
	background: #e8e8e8;
	-webkit-box-shadow: 0px 1px 0px #FFF inset;
	-moz-box-shadow: inset 0px 1px 0px #FFF;
	border: 1px solid #b5b5b5;
	cursor: pointer;
}
form.button-to div input:hover {
	color: #df3333;
	text-shadow: 0px 1px #eaeaea;
	text-decoration: none;
	-webkit-box-shadow: 0px 1px 0px #eaeaea inset;
	-moz-box-shadow: inset 0px 1px 0px #eaeaea;
	background-color:#cdcdcd;
}

form input[type='text'], input[type='password'] {
	padding: 6px;
	background: #FFFFFF;
	border: 1px solid #242636;
  font-weight: 200;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
}
form fieldset.submit li {
	width: 590px;
}
form textarea {
	padding: 6px;
	width: 360px;
	background: #F8F8F8;
	border: 1px solid #ccc;
}
textarea.text {
	height: 60px;
}
textarea.wide {
	width: 360px;
}
textarea.tall {
	height: 300px;
}
textarea.taller {
	height: 500px;
}
textarea.medium {
	width: 450px;
	height: 250px;
}
textarea.fill {
	width: 95%;
}
select {
	width: 200px;
}

input[type='text'], input[type='password'], textarea, select {
	margin: 0px 0 0px 0;
}
form input.compact {
	width: 120px;
}
form input.medium_compact {
	width: 280px;
}
input.compact, select.compact {
	width: 100px;
	margin-right: 5px;
}
input.medium_compact {
	width: 170px;
	margin-right: 5px;
}

input[type='text']:focus, input[type='password']:focus. input.title:focus,
textarea:focus, select:focus {
	border: 1px solid #666;
}

/* embeds the openid image in the text field */
input#openid_url {
	background: url(../images/login-bg.gif) no-repeat;
	background-color: #fff;
	background-position: 0 50%;
	color: #000;
	padding-left: 18px;
}
form div.fieldWithErrors {
	float: none;
	width: auto;
}
.fieldWithErrors {
	margin: 0;
	display: inline-block;
}
form div.fieldWithErrors input, form div.fieldWithErrors textarea, form div.fieldWithErrors select {
	border: 1px solid #eab1b1;
}
form div.fieldWithErrors label {
	color: #b24040;
}
#content div.errorExplanation {
	background: #fbdddd;
  -moz-border-radius:6px;
	-webkit-border-radius: 6px;
  border-radius:6px;
	width: 100%;
	margin: 0 0 10px 0;
	float: left;
	padding: 10px 0px;
}

#content div.errorExplanation h2 {
	font-size: 15px;
	font-weight: bold;
	color: #b24040;
	padding: 0px 10px 0px 10px;
	margin-bottom: 5px;
}
#content div.errorExplanation p {
	padding: 0px 10px;
	margin-bottom: 10px;
	margin-top: 0;
}
#content div.errorExplanation ul {
	margin: 0px 0px 0px 25px;
}
#content .errorExplanation ul li {
	list-style-type: disc;
}

form table.inline-labels td {
	padding-right: 10px;
}
form table.inline-labels th {
	padding-right: 20px;
}
form table.inline-labels td label {
	font-weight: normal;
}

form#new_committership ul {
	float: left;
	width: 620px;
	padding: 0;
	border: 0;
	margin-bottom: 0px;
}
form#new_committership li {
	width: auto;
	font-weight: bold;
	background: #CCC;
	padding: 8px 12px;
	margin: 0;
	margin-right: 10px;
	float: left;
	border: 0;
}
form#new_committership li.selected {
	background: #eee;
	margin: 0;
	margin-right: 10px;
}
form#new_committership p.tab-content {
	background: #eee;
	padding: 10px;
	width: 620px;
	float: left;
}
#comment-form {
	width: 450px;
	float: left;
}
.help-box.right.help {
	float: right;
	width: 300px;
	margin-bottom: 15px;
}
form.button-to {
	float: right;
	width: 100%;
}
.committer-buttons form {
	width: auto;
}

#merge_request_statuses {
	width: 640px;
}

#content #bigForm{
 text-align: center;
  margin-top: 20px;
}

#content #bigForm #signup{
  margin:0 auto 0 auto;
  width:600px;
  padding: 10px;

  -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px rgb(255,255,255);
  -moz-box-shadow: 0 0 15px rgb(255,255,255);
  box-shadow: 0 0 15px rgb(255,255,255);
  text-align: left;

  background: rgb(255,175,75); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,127,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,127,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,127,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,127,0,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,127,0,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff7f00',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,127,0,1) 100%); /* W3C */

}

#content #bigForm #signup #registrationInfo{
  color:#fefcea;
  font-size: 18px;
  text-shadow: 0px 1px #A04906;
  padding: 20px 20px;
  text-align: center;
}

#content #bigForm #signup .field{
  margin:10px 10px;
}

#content #bigForm #signup .tos{
  margin:10px 10px;
  text-align: right;
}

#content #bigForm #signup .submit{
  margin:20px 10px;
  text-align: center;
}

#content #bigForm #signup .tos label{
  font-size: 16px;
  margin: 20px;
}

#content #bigForm #signup label{
  color:#ffffff;
  font-size: 24px;
  margin: 30px 250px 10px 20px;
  text-shadow: 1px 2px #C66300;
}

#content #bigForm #signup label.error{
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
  background-color:#CF0404;
  padding: 5px 10px 5px 10px;
  color:#FFFFFF;
  font-size: 14px;
  font-weight: bolder;
  margin: 30px 20px 10px 20px;
  text-shadow: none;
}

#content #bigForm #signup input[type=text]{
  width: 90%;
  color:#596a72;
  font-size: 24px;
  margin: 10px 250px 10px 20px;
  border: none;
}

#content #bigForm #signup input[type=password]{
  width: 90%;
  color:#596a72;
  font-size: 24px;
  margin: 10px 250px 10px 20px;
  border: none;
}

#content #bigForm #signup input[type='submit'] {
  font-size: 18px;
  padding: 5px 15px;
  height:40px;

  background: #f1e767; /* Old browsers */
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f1e767 0%,#feb645 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f1e767 0%,#feb645 100%); /* W3C */
}
#content #bigForm #signup input[type='submit']:hover {
  font-size: 18px;
  padding: 5px 15px;
  height:40px;

  background: #f6f8f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 37%, #d7dee3 60%, #f5f7f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(37%,#e5ebee), color-stop(60%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 37%,#d7dee3 60%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 37%,#d7dee3 60%,#f5f7f9 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 37%,#d7dee3 60%,#f5f7f9 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f6f8f9 0%,#e5ebee 37%,#d7dee3 60%,#f5f7f9 100%); /* W3C */
}

#content #left{
  width:auto;
  float: left;
}

#content #right{
  width:auto;
  float: right;
  text-align:left;
}

#content #left #confirm{
  text-align: center;
  margin: 30px 0px 0px 0px;
}

#content #right a.button{
  border:1px solid #F1E767;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
	color: #924800;
	font-size: 24px;
	text-shadow: 0px 1px #ffc59b;
  height:50px;
  padding:10px;

  background: #f1e767; /* Old browsers */
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f1e767 0%,#feb645 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f1e767 0%,#feb645 100%); /* W3C */
}

#content #right a.button:hover{
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
	color: #343144;
  border:#FEB645;
	font-size: 24px;
  text-shadow: 0px 1px #A2E9FF;
  height:50px;
  padding:10px;
  text-decoration: none;

  background: #f6f8f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 37%, #d7dee3 60%, #f5f7f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(37%,#e5ebee), color-stop(60%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 37%,#d7dee3 60%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 37%,#d7dee3 60%,#f5f7f9 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 37%,#d7dee3 60%,#f5f7f9 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f6f8f9 0%,#e5ebee 37%,#d7dee3 60%,#f5f7f9 100%); /* W3C */
}

#content #left input[type=button].confirm,a.button{
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
	color: #006633;
	font-size: 24px;
	text-shadow: 0px 1px #ffffff;
  padding:10px;
  border: 2px solid #61c419;
  text-decoration: none;

  -webkit-box-shadow: 0 0 10px rgb(255,255,255);
  -moz-box-shadow: 0 0 10px rgb(255,255,255);
  box-shadow: 0 0 10px rgb(255,255,255);

  background: #b4e391; /* Old browsers */
  background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
}

#content #left input[type=button].confirm:hover,a.button:hover{
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
	color: #006633;
	font-size: 24px;
  text-shadow: 0px 1px #ffffff;
  padding:10px;
  text-decoration: none;
  border: 2px solid #61c419;
  text-decoration: none;

  background: #f8ffe8; /* Old browsers */
  background: -moz-linear-gradient(top, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8ffe8), color-stop(33%,#e3f5ab), color-stop(100%,#b7df2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* W3C */
}

#content #left #leftbox{
  width:350px;
  padding: 10px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
  -webkit-box-shadow: 0 0 10px rgb(255,255,255);
  -moz-box-shadow: 0 0 10px rgb(255,255,255);
  box-shadow: 0 0 10px rgb(255,255,255);
  background: rgb(255,175,75); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
}

#content #left #leftbox .percentOption{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:10px;
  -webkit-box-shadow: 0 0 10px #924800;
  -moz-box-shadow: 0 0 10px #924800;
  box-shadow: 0 0 10px #924800;
  color:#924800;
  cursor: pointer;
  width:300px;
  padding:10px;
  font-size: 24px;
  text-align: center;
  line-height:25px;
  margin: 20px;
  background: #f1e767; /* Old browsers */
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f1e767 0%,#feb645 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f1e767 0%,#feb645 100%); /* W3C */
}

#content #left #leftbox #uservatar{
  float: right;
}

#content #left #leftbox #loggedas{
  font-size: 16px;
  color: #ffffff;
}

#content #left #leftbox #useremail{
  font-size: 24px;
  color: #f1da36;
  text-align: center;
  padding: 10px;
  text-shadow: 0px 1px #2c3035;
}

#content #left #leftbox #notyou{
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

#content #left #leftbox #notyou a{
  color:#C43100;
  text-decoration: none;
  font-weight: bolder;
}

#content #left #leftbox #notyou a:hover{
  color:#EDE500;
  text-decoration: none;
}

#content #left #breakdown{
  width:350px;
  padding: 10px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
  -webkit-box-shadow: 0 0 10px rgb(255,255,255);
  -moz-box-shadow: 0 0 10px rgb(255,255,255);
  box-shadow: 0 0 10px rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
}

#content #left #leftbox #title {
  color: #FFFFFF;
  font-size: 18px;
  margin: 10px;
  text-shadow: 0 2px #666666;
}


#content #left #leftbox #title #courseName {
  font-size: 26px;
  line-height: 28px;
  margin: 10px;
  text-align: center;
}

#content #left #leftbox table#breakDownDetail{
  width: 100%;
  text-align: right;
  font-size: 20px;
}

#content #left #leftbox table#breakDownDetail tr{
  font-weight: bold;
  text-shadow: 0 1px #FFFFFF;
}

#content #left #leftbox table#breakDownDetail tr.discount{
  color:#ff1a00;
}

#content #left #leftbox table#breakDownDetail tr.priceWithDiscount{
  color:#2c539e;
}

#content #left #leftbox table#breakDownDetail tr.taxIva{
  color:#45484d;
}

#content #left #leftbox table#breakDownDetail tr.finalPrice{
  color:#1f3b08;
  font-size: 26px;
  font-weight:bolder;
}

#content #left #leftbox table#breakDownDetail td{
  padding:10px;
}

#content #left #leftbox table#breakDownDetail td.finalAmount{
  color:#1f3b08;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:10px;
}

#content #right #rightbox{
  width:350px;
  padding: 10px 30px;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
  -webkit-box-shadow: 0 0 10px rgb(255,255,255);
  -moz-box-shadow: 0 0 10px rgb(255,255,255);
  box-shadow: 0 0 10px rgb(255,255,255);
  background: rgb(96,108,136); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
}

#content div.payment{
  color:#006E2E;
  font-size: 14px;
  padding: 10px 30px;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
  -webkit-box-shadow: 0 0 10px rgb(255,255,255);
  -moz-box-shadow: 0 0 10px rgb(255,255,255);
  box-shadow: 0 0 10px rgb(255,255,255);
  background: rgb(205,235,142); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */
}

#content div.payment span.data{
  font-weight: bolder;
}

#content div.payment #finish{
  text-align: center;
  margin:20px;
}

#content div.payment #finish a{
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
  -webkit-box-shadow: 0 0 10px rgb(255,255,255);
  -moz-box-shadow: 0 0 10px rgb(255,255,255);
	color: #ffffff;
	font-size: 24px;
  text-shadow: 0px 1px #333333;
  padding:10px;
  text-decoration: none;

  background: rgb(133,181,14); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(133,181,14,1) 0%, rgba(72,122,7,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,181,14,1)), color-stop(100%,rgba(72,122,7,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(133,181,14,1) 0%,rgba(72,122,7,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(133,181,14,1) 0%,rgba(72,122,7,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(133,181,14,1) 0%,rgba(72,122,7,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85b50e', endColorstr='#487a07',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(133,181,14,1) 0%,rgba(72,122,7,1) 100%); /* W3C */

}

#content div.payment #sendMeInfo{
  text-align: center;
}

#content div.payment #sendMeInfo a{
  margin-top: 15px;
  text-decoration: none;
  color:#487A07;
}

#content div.payment div.instrucciones{
  font-size: 12px;
  font-style: italic;
  padding: 10px 0px;
  text-align: right;
}

#content div.payment .confirmAmount{
  margin: 20px;
  padding: 10px;
  text-align:center;
  font-size: 24px;
}

#content div.payment #medios{
  margin: 10px;
  text-align: center;
}


#content #right #rightbox .paymentOption{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:10px;
  -webkit-box-shadow: 0 0 10px #3f4c6b;
  -moz-box-shadow: 0 0 10px #3f4c6b;
  box-shadow: 0 0 10px #3f4c6b;
  color:#3f4c6b;
  cursor: pointer;
  width:300px;
  padding:10px;
  font-size: 24px;
  text-align: center;
  line-height:25px;
  margin: 20px;
  background: rgb(184,198,223); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(184,198,223,1) 0%, rgba(109,136,183,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,198,223,1)), color-stop(100%,rgba(109,136,183,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%); /* W3C */
}

#content #right #rightbox h1{
  text-align: right;
  color: #ffffff;
  font-size:20px;
}

#content #right #rightbox h2{
  text-align: center;
  color: #b3dced;
  line-height: 25px;
  font-size:24px;
  padding:10px;
  text-shadow: 0px 1px #333333;
}

#content #right #rightbox .info{
  text-align: left;
  color: #ffffff;
  font-size:14px;
  padding:10px;
}

#content #right #rightbox #price{
  text-align: center;
  color: #8fc800;
  font-size:16px;
  padding:10px;
  text-shadow: 0px 1px #333333;
}

div#floatingMessage{
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
  -webkit-box-shadow: 0 0 10px rgb(0,0,0);
  -moz-box-shadow: 0 0 10px rgb(0,0,0);
  box-shadow: 0 0 10px rgb(0,0,0);
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #fefcea 0%,#f1da36 100%); /* W3C */
  position: fixed;
  bottom:25px;
  left:25px;
  width: 300px;
  height: 75px;
  padding: 10px;
}

#content #right #rightbox ul#promotions{
  padding: 0px;
}

#content #right #rightbox ul#promotions span.optionUncheck{
  float: left;
  padding: 10px;
  background: url("../icon/cancel.png") no-repeat;
  width:16px;
  height:16px;
}

#content #right #rightbox ul#promotions span.optionCheck{
  float: left;
  padding: 10px;
  background: url("../icon/valid-green.png") no-repeat;
  width:16px;
  height:16px;
}

#content #right #rightbox ul#promotions li.check{
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
  color:#006e2e;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  list-style-position: inside;
  list-style-type: none;
  background: rgb(205,235,142); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */
}

#content #right #rightbox ul#promotions li.uncheck{
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
  color:#cf0404;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  list-style: none;
  text-shadow: 0px 1px #FFFFFF;
  background: rgb(249,229,229); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(249,229,229,1) 0%, rgba(252,174,174,1) 45%, rgba(255,216,216,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,229,229,1)), color-stop(45%,rgba(252,174,174,1)), color-stop(100%,rgba(255,216,216,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(249,229,229,1) 0%,rgba(252,174,174,1) 45%,rgba(255,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(249,229,229,1) 0%,rgba(252,174,174,1) 45%,rgba(255,216,216,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(249,229,229,1) 0%,rgba(252,174,174,1) 45%,rgba(255,216,216,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e5e5', endColorstr='#ffd8d8',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(249,229,229,1) 0%,rgba(252,174,174,1) 45%,rgba(255,216,216,1) 100%); /* W3C */
}

#content #right #rightbox ul#promotions li.select:hover{
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-radius:5px;
  color:#6B5B00;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  list-style: none;
  cursor: pointer;
  background: rgb(254,252,234); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C */
}

#content #right #rightbox div#needInvoice{
  color: #ffffff;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  margin:10px;
}

.optionSelected{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius:10px;
  -webkit-box-shadow: 0 0 10px #FFFFFF;
  -moz-box-shadow: 0 0 10px #FFFFFF;
  box-shadow: 0 0 10px #FFFFFF;
  color:#333333;
  width:300px;
  padding:10px;
  font-size: 24px;
  text-align: center;
  line-height:25px;
  margin: 20px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
}

table#login tr.links{
  font-size: 12px;
}

table#login tr.links a{
  color:#B30F05;
  text-decoration: none;
  font-weight: bold;
}

table#login tr.links a:hover{
  color:#EDE500;
  text-decoration: none;
}

table#login td.field{
  font-size: 12px;
  text-align: right;
  font-weight: bold;
}

.clearer{
  clear: both;
}

#lightbox {
	position:fixed;
	background-color:#000000;
	left:0;
	top:0;
	display:none;
	opacity:0.5;
	filter: alpha(opacity=50);
	z-index: 99998;
}

#userDataForm{
  width:440px;
	height:285px;
	position:fixed;
	left:50%;
	top:50%;
  display:none;
	margin:-125px 0 0 -220px;
	background:#ffffff;
	z-index:99999;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border:3px solid #FFFFFF;
  background: #606c88; /* Old browsers */
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* W3C */
}

#userDataForm .title {
  color: #FFFFFF;
  font-family: trebuchet MS;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}

#userDataForm .sub-title {
  color: #a9e4f7;
  font-family: trebuchet MS;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
}

#userDataForm label {
  color: #d6f9ff;
  font-family: trebuchet MS;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
  width:120px;
  text-align: right;
}

#userDataForm input.error{
  border: 2px solid red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #666666;
  font-family: trebuchet MS;
  font-weight: bold;
  font-size:18px;
  margin-bottom: 10px;
  padding: 6px;
  width: 250px;
  margin-left: 80px;
  margin-top:5px;
}

#userDataForm input.text {
  border: 2px solid #d6f9ff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #666666;
  font-family: trebuchet MS;
  font-weight: bold;
  font-size:18px;
  margin-bottom: 10px;
  padding: 6px;
  width: 250px;
  margin-left: 80px;
  margin-top:5px;
}

#userDataForm input.continue {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 0 #000000 inset;
  text-shadow: 0px 1px #FFFFFF;
  color: #3f4c6b;
  font-family: trebuchet MS;
  font-weight: bold;
  font-size:16px;
  padding: 5px;
  width: 130px;
  border:none;
  text-transform:uppercase;
  cursor:pointer;
  background: #d6f9ff; /* Old browsers */
  background: -moz-linear-gradient(top, #d6f9ff 0%, #9ee8fa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6f9ff), color-stop(100%,#9ee8fa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d6f9ff 0%,#9ee8fa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d6f9ff 0%,#9ee8fa 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #d6f9ff 0%,#9ee8fa 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #d6f9ff 0%,#9ee8fa 100%); /* W3C */
}

#userDataForm input.continue:hover {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 0 #000000 inset;
  text-shadow: 0px 1px #FFFFFF;
  color: #3f4c6b;
  font-family: trebuchet MS;
  font-weight: bold;
  font-size:16px;
  padding: 5px;
  width: 130px;
  border:none;
  text-transform:uppercase;
  cursor:pointer;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
}