body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.home .hero-unit{
  background-image: "../images/training.jpg";
  background-position:100% 100%;
  background-repeat: no-repeat;
}

form.well label,div#loginForm form#auth div.field label{
  display: block;
  padding-bottom:5px;
}

div#profile div#uservatar {
  float: right;
}

table#login tbody tr.links td label.remember_me_label {
  display: inline;
}

input, textarea, select {
  margin-bottom:0px;
}